extends layout

block content
	div.container
		div.jumbotron
			h1 MY KANBAN BOARD
			p Welcome!! This is my Kanban Board which let me do my job better!!
			p If you want to create new task, just push this button!!
			div.form-group
				input(type='text' class='form-control')
				button(type='submit' class='btn btn-success') Add Task
				
		div.row
			div.col-lg-4
				h2 TO-DO
				ul.list-group
					each val in todoTasks
						li.list-group-item= val
			div.col-lg-4
				h2 In-Progress
				ul.list-group
					each val in inProgressTasks
						li.list-group-item= val
			div.col-lg-4
				h2 Done
				ul.list-group
					each val in doneTasks
						li.list-group-item= val
